<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/div.ejs") %>
<div class="container">
  <div class="blogs content">
    <h1>Random Dad Joke</h1>
    <br><br>
    <h3><%= setup %></h3>
    <h2><%= punchline %></h2>
  </div>
</div>

  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/script.ejs") %>
</body>
</html>